[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/youcompleteme"]
	path = plugged/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe
[submodule "plugged/vwrite"]
	path = plugged/vwrite
	url = https://github.com/Leonkoithara/vwrite
